/* Local CSS */
@import '../../shared/css/imports';


#container {
    background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    // background-position-x: 56px, -20px;
    // background-position-y: 81px, -205px;
    // background-size:912.5px 500px, 212% auto;

    background-position-x: 10px, -20px;
    background-position-y: -3px, -205px;
    background-size: 1003.5px auto, 212% auto;
}

.header {
    background-color: transparent;
}

.graph-header {
    @include font-itc-avant-gard-pro-demi();
    font-size: 13px;
    line-height: 1.2;
    color: $dark-grey-blue-three;
    border-bottom: solid 2px #FFCB05;
    // height: 16px;
    width: 650px;
    margin-bottom: 14px;
    letter-spacing: -.2px;

}

.graph-titles-v1 {
    @include font-myriad-pro-bold();
    color: $x-axis-label-grey;
    display: flex;
    font-size: 10.5px;
    line-height: 11px;
    text-align: left;
    margin-top: -3px;
    margin-bottom: -18px;

    .graph-area-01 {
        margin: 0px 0px 0px 53px;
    }

    .graph-area-02 {
        margin: 0px 0px 0px 146px;
    }

    .graph-area-03 {
        margin: -2px 0px 0px 53px;
    }

    .graph-area-04 {
        margin: -2px 0px 0px 146px;
    }
}

.header-content-popup {
    @include font-myriad-pro-regular();
    width: 730px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $greyish-brown;
    margin-bottom: 10px;
}

.mainContent {


    sup {
        top: -0.5em;
    }

    .chevron {
        position: absolute;
        bottom: 180px;
        width: 382.7px;
        height: 265px;
        background-size: contain;
        background-repeat: no-repeat;

        &.left-chevron {
            background-image: url('../../shared/media/images/faded-wing-left.png');
            //left: 27px;
            left: 36px;
        }

        &.right-chevron {
            background-image: url('../../shared/media/images/faded-wing-right.png');
            //right: 26px;
            right: 34px;
        }

        display: none;

        &.active {
            display: block;
        }

    }

    @include font-itc-avant-gard-pro-demi();

    .tabs {
        width: 871px;
        height: 461px;
        margin-left: 18px;
        padding-left: 35px;

        #tab_1_outer_container {

            width: 82%;

            .footnotes {
                position: unset;
                padding-left: 4px;
                width: 635px;
                // bottom: -18px;
            }

            h1 sup {
                top: .4em;
                font-size: 1em;
                vertical-align: super;
            }
        }

        #tab_2_outer_container {
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
    }

    * {
        -webkit-text-size-adjust: none;
    }

    .tab {
        height: 430px;
        margin-left: 17.5%;
        width: 80%;
        padding-right: 10.5px;
        position: relative;

        &.tab-2 {
            height: 462px;
        }

        ul.tab-one {
            margin-bottom: 10px;

            li::before {
                content: '\2022';
                margin-left: -10px;
                color: $golden-rod;
            }

            sup {
                font-size: .55em;
                vertical-align: super;
                top: 0px;
            }
        }

        .header-list {
            margin-top: 0;
            margin-bottom: 8px;

            li::before {
                content: '\2022';
                margin-left: -10px;
                color: $golden-rod;

                sup {
                    top: 0;
                    font-size: .55em;
                    vertical-align: super;
                }
            }


        }


        h1 {
            color: $orange;
            text-align: left;
            margin-bottom: 9px;
            @include font-itc-avant-gard-pro-demi();
            font-size: 25px;
            line-height: 22px;
            padding-top: 7.5px;

            sup {
                top: 0;
            }

            &.tab-1 {
                top: 43px;
                left: -68px;
            }

            &.tab-2 {
                left: -68px;
            }

            &.active {
                display: block;
            }
        }

        h2 {
            @include font-myriad-pro-bold();
            font-size: 9px;
            line-height: 10.8px;
            letter-spacing: normal;
            color: $dark-grey-blue-two;
            text-transform: uppercase;
            margin: 0 auto;
        }

        .footnotes {
            @include font-myriad-pro-regular();
            font-size: 8px;
            color: $greyish-brown;
            position: absolute;
            bottom: -26px;
            left: -5px;
        }

        button {
            //    background     : url('../../shared/media/images/btn-bg-png.png');
            //    background-size: contain;
            background-image: linear-gradient(to top, $pumpkin, $golden);
            width: 119px;
            height: 35px;
            text-align: left;
            @include font-itc-avant-gard-pro-demi();
            position: absolute;
            bottom: 11.5px;
            font-size: 10px;
            color: #fff;
            padding-top: 5px;
            padding-left: 32px;
            border-radius: 5px;
            box-shadow: inset 0px -0.5px 5px 0 rgba(0, 0, 0, 0.2);


            &#viral-efficacy-btn {
                // bottom: 28.5px;
                position: unset;
                display: block;
                margin-bottom: 10px;

                &::before {
                    content: "";
                    // top            : 8px;
                    // left           : 6px;
                    position: unset;
                    width: 17.5px;
                    height: 17.5px;
                    background: url('../../shared/media/images/button-cross.png');
                    background-size: contain;
                    float: left;
                    margin-left: -25.5px;

                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 6px;
                width: 17.5px;
                height: 17.5px;
                background: url('../../shared/media/images/button-cross.png');
                background-size: contain;
            }
        }

        .footnotes-container {
            width: 686px;
            margin-left: 22px;

            .footnotes {
                width: 100% !important;
            }

        }
    }

    .tab-1 {

        .svg-container {
            width: 600px;
            height: 267px;
            margin-bottom: 0px;

            .charts {

                position: relative;
                // padding-left: 10px;
                box-sizing: border-box;
                // position    : absolute;
                // top         : 209px;
                // left        : 0;
                width: 600px;
                height: 287px;
                margin-bottom: 18px;



                // background-color: rgba(211, 211, 211, 0.137);
                >header {
                    // margin-bottom: 18px;
                    margin-bottom: 39px; //14px away from next element

                    p {
                        border-bottom: #F6BE00 3px solid;
                        width: 100%;
                    }

                    h3 {
                        font-size: 13px;
                        color: $dark-grey-blue-three;
                        line-height: 13.2px;
                        letter-spacing: -0.4px;
                        margin-bottom: 14px;
                    }

                    h3 {
                        @include font-itc-avant-gard-pro-demi();
                        border-bottom: $golden 3px solid;
                        line-height: 1.2;
                    }

                    h3 {
                        // width     : 249px;
                        color: $metallic-blue;
                        border-bottom: 2px solid $golden;
                        margin-bottom: 5px;
                    }
                }

                .chart-containers {
                    display: grid;
                    align-items: end;
                    // padding-left         : 18px;
                    grid-gap: 0px;
                    grid-template-columns: auto auto;
                    grid-gap: 70px;
                    justify-content: space-between;
                    padding-left: 41px;


                    .y-label {
                        //shared
                        @include font-myriad-pro-regular();
                        color: $x-axis-label-grey;
                        margin: 0;
                        line-height: 1;

                        transform: rotate(-90deg) translate(0%, -42px);
                        font-size: 10.5px;
                        position: absolute;
                        text-align: center;
                        line-height: 1;

                        height: 0px;
                        width: 174px;
                        transform-origin: 0% 0%;

                    }

                    .barchart {
                        //shared
                        position: relative;
                        min-width: 242px;
                        min-height: 176px;
                        // margin        : 32px 0 0 20px;
                        // border        : solid 1px lightgrey;
                        border: solid .5px $x-axis-label-grey;

                        display: flex;
                        align-items: flex-end;

                        header.barchart-l-padding {
                            padding-left: 18px;
                        }

                        header {
                            position: absolute;
                            white-space: nowrap;
                            top: 0px;
                            left: 0px;

                            width: 100%;
                            text-align: left;
                            margin-top: -30px; //10px away from next element

                            p {
                                color: $x-axis-label-grey;
                                @include font-myriad-pro-bold();
                                font-size: 10px;
                                line-height: 1.1;
                            }
                        }

                        .y-values {
                            //shared
                            position: absolute;
                            left: -37px;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 119%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            margin: 0;


                            li {
                                p {
                                    font-size: 9px;
                                    margin: 0;
                                    text-align: right;
                                }
                            }

                        }

                        .y-lines {
                            //shared
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            // justify-content: space-around;
                            flex-direction: column;
                            background-color: rgba(175, 181, 195, .1);

                            hr {
                                border: none;
                                border-top: dotted 1px lightgrey;
                                width: 100%;

                                &:nth-of-type(1) {
                                    margin-top: 34px;
                                }

                                &:nth-of-type(2) {
                                    margin-top: 35px;
                                }

                                &:nth-of-type(3) {
                                    margin-top: 34px;
                                }

                                &:nth-of-type(4) {
                                    margin-top: 34px;
                                }
                            }
                        }

                        .bars {

                            position: relative;
                            display: grid;
                            justify-content: center;
                            width: 100%;
                            align-items: end;


                            .bar {
                                // border-radius   : 7px 7px 0 0;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                background-color: $chart-bar-orange;
                                height: 4px;

                                .padding-minimal {
                                    padding-left: 2px;
                                }

                                .value {
                                    color: white;
                                    margin: 0;
                                    font-size: 18px;
                                    @include font-itc-avant-gard-pro-demi
                                }

                                .description {
                                    position: absolute;
                                    bottom: 0;
                                    transform: translateY(38px);
                                    text-align: center;

                                    margin: 0;
                                    height: 29px;
                                    color: $x-axis-label-grey;
                                    @include font-myriad-pro-regular();
                                    font-size: 10px;
                                    line-height: 1.18;



                                    span {
                                        line-height: inherit;
                                        @include font-myriad-pro-bold();
                                        color: $x-axis-label-grey;
                                        font-size: 10.5px;
                                    }
                                }


                                &:nth-child(2) {
                                    .description {
                                        width: 200%;
                                    }
                                }
                            }
                        }

                        .chart-bracket-indicator {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            top: 109px;
                            left: 69.1px;
                            color: $x-axis-label-grey;
                            width: 115px;
                            justify-content: center;
                            align-items: center;
                            line-height: .9;
                            transform: scale(.76);
                            letter-spacing: -.2px;

                            h3 {
                                line-height: inherit;
                                @include font-myriad-pro-bold();
                                font-size: 14px;

                            }

                            .description {
                                line-height: inherit;

                                @include font-myriad-pro-regular();

                                font-size: 13px;
                            }

                            .bracket-indicator {
                                line-height: 1.1;
                                width: 100%;
                                border: .5px solid $x-axis-label-grey;
                                border-bottom: transparent;
                                height: 3px;
                                margin-top: 5px;
                            }

                        }

                        .shadow-wrapper {
                            position: absolute;
                            justify-content: start;
                            align-items: start;
                            display: flex;
                            width: 100%;
                            height: 100%;

                            .custom-drop-shadow {
                                // -webkit-clip-path: polygon(0 100%, 0 40%, 80% 0%, 80% 100%);
                                // clip-path: polygon(0% 100%, 0% 4%, 11% 0%, 11% 100%);
                                position: absolute;
                                display: inline-block;
                                background-image: linear-gradient(to right, rgba(0, 0, 152, 0), rgba(36, 117, 174, 0.5), rgba(35, 81, 114, 0.9), #231f20);
                                // width: 50px;
                                -webkit-clip-path: polygon(0% 100%, 0% 4%, 11% 0%, 11% 100%);
                                clip-path: polygon(0% 100%, 0% 4%, 11% 0%, 11% 100%);

                                clip-path: polygon(0% 100%, 0% 4%, 11% 0%, 11% 100%);
                            }
                        }


                    }


                    .barchart.barchart-left {

                        width: 245px;
                        height: 176px;

                        header p {
                            font-size: 13px;
                            transform: scale(.8);
                            margin-left: -31px;
                        }

                        .bars {
                            grid-gap: 32.5px;
                            grid-template-columns: 55px 50px;

                            .bar {

                                p.value {
                                    position: relative;
                                    top: 2px;
                                    margin-top: -28px;
                                    font-size: 28px;

                                    span {
                                        font-size: .75em;
                                    }
                                }

                                &:nth-child(1) {
                                    width: 55px;

                                    p.value {
                                        color: $pumpkin
                                    }
                                }

                                &:nth-child(2) {
                                    width: 54px;
                                    background-color: $chart-bar-grey;

                                    p.value {
                                        color: $chart-bar-grey
                                    }
                                }

                            }
                        }

                    }

                    .barchart.barchart-right {
                        header p {
                            transform: scale(.81);
                            margin-left: -12px;
                            font-size: 13px;
                        }

                        .bars {
                            grid-gap: 33px;
                            grid-template-columns: 57px 57px;

                            .bar {
                                align-items: flex-start;
                                background-color: unset;

                                p.value {
                                    margin-top: 5px;
                                    font-size: 28px;

                                    span {
                                        font-size: .75em;
                                    }
                                }

                                border-radius: 7px 7px 0 0;

                                &:nth-child(1) {
                                    height: 163px;
                                    width: 57px;
                                    background-image: linear-gradient(0deg, #F2B67A 0%, #E67300 100%);
                                }

                                &:nth-child(2) {
                                    height: 167px;
                                    width: 57px;
                                    // box-shadow: -9px 5px 5px -5px rgba(0,0,0,0.44);

                                    background-image: linear-gradient(0deg, rgb(154, 155, 157) 0%, rgb(128, 130, 133) 100%);
                                }
                            }
                        }

                        .shadow-wrapper-left {


                            // top: 11px;   
                            // left: 42px;

                            top: 3px;
                            left: -5px;
                            height: 163px;
                            width: 57px;

                            .custom-drop-shadow {
                                height: 97.9%;
                                width: 50px;
                            }
                        }

                        .shadow-wrapper-right {


                            top: 5px;
                            left: -5px;
                            height: 170px;
                            width: 57px;

                            .custom-drop-shadow {
                                height: 97.1%;
                                width: 50px;
                            }
                        }
                    }
                }


            }
        }

        sup {
            font-size: .55em;
            vertical-align: super;
            top: -.3em;
        }

    }

    .tab-2 {

        padding-left: 10px;

        .graph-header {
            @include font-itc-avant-gard-pro-demi();
            font-size: 13px;
            color: $dark-grey-blue-three;
            text-transform: uppercase;
            width: 575px;
            margin-top: 20px;
        }

        ul.grid-one-notes {
            // margin-left: 68px;
            //padding-left:10px;

            li {
                position: relative;
                margin-left: 0px;

                &::before {
                    content: "\2022";
                    color: #f5be0b;
                    font-weight: bold;
                    position: absolute;
                    left: -7px;
                }

                sup {
                    font-size: .55em;
                    vertical-align: super;
                    top: 0px;
                }
            }
        }


        span {
            //font-size: 65%;

            &.hang-indent {
                display: inline-block;
                margin-left: -3rem;
            }
        }

        .footnotes {
            @include font-myriad-pro-regular();
            position: static;
            font-size: 8px;
            overflow: visible;
            margin-left: 4px;

            .float-indent {
                float: left;
                margin-left: -3px;
            }
        }

        button {
            position: relative;
            bottom: unset;
            left: 72px;
            width: 125px;
        }

        .grid-1 {
            display: grid;
            width: 600px;
            //border-top:1px solid red;
            grid-template-columns: repeat(12, 50px); //12 column grid
            grid-template-rows: 45px 55px 55px;


            .grid-items {
                @include font-myriad-pro-regular();

                &:first-child {
                    @include font-itc-avant-gard-pro-demi();
                }
            }




            .item-1 {
                grid-column: 1/ span 4;
                grid-row: 1;
                color: $pumpkin;
                font-size: 18px;
                line-height: 19.5px;
                //background-color:pink;
            }

            .item-2 {
                grid-column: 5/ span 2;
                grid-row: 1;
                //color:#fff;

                //background-color:yellow;

                .text-box {
                    width: 27px;
                    height: 23px;
                    margin: 6px auto auto 32px;
                    padding-top: 5px;
                    background-color: $greyish-brown-two;
                    color: #fff;
                    border-radius: 2.5px;
                    text-align: center;
                    font-size: 12.5px;
                }
            }

            .item-3 {
                grid-column: 7/ span 6;
                grid-row: 1;
                color: $greyish-brown;
                font-size: 18px;
                line-height: 19.5px;
                //background-color:pink;
            }

            .item-4 {
                grid-column: 1/ span 12;
                grid-row: 2;
                padding-top: 20px;
                //background-color:greenyellow;
            }

            .item-5 {
                grid-column: 1/ span 7;
                grid-row: 3;
                padding-top: 10px;
                //background-color:lightblue;
            }

            .item-6 {
                grid-column: 8/ span 5;
                grid-row: 3;
                //background-color:lightcoral;
            }

            //grid-template-columns: 292px 124px;
            //grid-template-rows: 112px 50px 35px;
            //grid-gap: 15.5px;

            // .item-2 {
            //     display: grid;
            //     grid-template-columns: 98px 54px 111px;
            //     grid-template-rows: 28px 44px 44px;
            //     padding: 0 !important;
            // }

            // .item-7 {
            //     grid-column: 1 / span 3;
            //     width: 298px;
            //     border-bottom: solid 1px #000;
            //     padding-top: 9px;
            // }

            // .item-3 {
            //     background: url('../../shared/media/images/btn-bg-png.png');
            //     background-size: contain;
            //     background-repeat: no-repeat;
            //     margin-top: 20px;
            //     text-align: left;
            //     @include font-itc-avant-gard-pro-demi();
            //     color: #fff;
            //     font-size: 10px;
            //     padding-top: 7px;
            //     padding-left: 32px;
            //    &::before {
            //         content:"";
            //         position: absolute;
            //         top: 90px;
            //         left: 316px;
            //         width: 17.5px;
            //         height: 17.5px;
            //         background: url('../../shared/media/images/button-cross.png');
            //         background-size: contain;
            //   }

            // }

            // .item-4 {
            //     @include font-myriad-pro-regular();
            //     color: $greyish-brown;
            //     font-size: 17px;
            //     padding-top: 7px;
            //     span {
            //         color: $pumpkin;
            //         @include font-myriad-pro-bold();
            //     }
            // }

            // .item-5 {
            //     @include font-myriad-pro-regular();
            //     font-size: 14px;
            //     text-align: center;
            //     padding-top: 14px;
            //     color: $greyish-brown;
            //     border-left: solid 1px;
            //     border-right: solid 1px;
            //     margin-top: 7px;
            // }

            // .item-6 {
            //     padding-top: 7px;
            //     @include font-myriad-pro-regular();
            //     color: $greyish-brown;
            //     padding-left: 22px;
            //     span {

            //         @include font-myriad-pro-bold();
            //     }
            // }
        }

        //grid-1
    }

}

ul.header-sub-list {
    margin: 0px 0px 1px 0px !important;
    padding: 0px;
}

.header-sub-list li {
    margin-left: 13px !important;
}

.header-sub-list li::before {
    content: '\2013' !important;
    color: $golden-rod;
    font-weight: bold;
    position: absolute;
    margin-left: -7px;
}


.ui-dialog[aria-describedby="viral-efficacy-dialog"] {
    left: 102.5px !important;
    width: 825.5px !important;
    height: 552px !important;
    padding-top: 28px;

    ul.header-list {
        margin-bottom: 11px;
        margin-top: -8px;
        margin-left: -13px;

    }


    .graph-header {
        width: 606px;
        text-align: left;
        margin-bottom: 12px;

        &.atlas {
            margin-bottom: 10px;
        }
    }

    sup {
        top: -0.3em;
        //left: .1em;
    }

    button.ui-dialog-titlebar-close {
        top: 22px;
        right: -112px;
    }

    .bottom-bar {
        left: 172px;
    }

    .ui-dialog-content {
        padding-left: 44px;
        left: 170px;

        h1 {
            color: $orange;
            text-align: left;
            margin-bottom: 14px;
            @include font-itc-avant-gard-pro-demi();
            font-size: 25px;
            line-height: 25px;
            padding-top: 0;
            margin-bottom: 45px;

            sup {
                top: 0;
            }
        }

        .outer-panel-container {
            width: 740px;
            height: 400px;
            padding-top: 25px;
            padding-left: 60px;

            border-bottom-left-radius: 8.5px;
            border-bottom-right-radius: 8.5px;
            border-style: solid;
            border-width: 3px;
            color: $greyish-brown;
            text-align: center;
            position: relative;

            ul.header-list {
                text-align: left;

                li::before {
                    content: "\2022";
                    color: #f5be0b;
                    font-weight: bold;
                    position: absolute;
                    left: -10px;
                }

                sup {
                    font-size: .55em;
                    vertical-align: super;
                }
            }

            ul.modal-list {
                display: none;
                margin-top: 45px;

                li {
                    text-align: left;

                    &::before {
                        margin-left: -10px;
                        content: '\2022';
                    }
                }

                sup {
                    font-size: .55em;
                    position: static;

                    vertical-align: super;
                }

                span.sup-center {
                    position: absolute;
                    top: -.6px;
                }

                &.active {
                    display: block;
                }

                &.atlas {
                    margin-top: 45px;
                }
            }

            .float-indent {
                float: left;
                margin-left: -3px;

            }

            .modal-footnotes {
                display: none;
                @include font-myriad-pro-regular();
                font-size: 8px;
                line-height: 8px;
                position: relative;
                top: -17px;
                left: -192px;

                &.atlas {
                    left: 13px;
                    text-indent: 0;
                    text-align: left;
                }

                &.flair {
                    left: 13px;
                    text-indent: 0;
                    text-align: left;
                }

                &.active {
                    display: block;
                }

                transform: translateY(22%);
            }

            .pop-tab {
                display: inline-block;
                position: absolute;
                left: -3px;
                top: -30px;
                height: 30.5px;
                width: 337px;
                @include font-itc-avant-gard-pro-demi();
                font-size: 16px;
                padding-top: 10px;
                border-top-left-radius: 8.5px;
                border-top-right-radius: 8.5px;

                &.left {
                    width: 378.5px;
                    border: solid 1px $greyish-brown;
                    opacity: 0.4;

                    &.active {
                        opacity: 1;
                        color: #fff;
                        background-image: linear-gradient(to bottom, #4e6780, #40556b);
                        z-index: 10;
                    }
                }

                &.right {
                    left: 358px;
                    width: 379px;
                    border: solid 1px $greyish-brown;
                    opacity: 0.4;

                    &.active {
                        opacity: 1;
                        color: #fff;
                        background-image: linear-gradient(to bottom, $greyish-brown, #000);
                        z-index: 10;
                    }
                }
            }

            .svg-container {
                width: 606px;
                height: 283px;
                display: none;

                &.active {
                    display: block;
                }
            }

        }
    }

    .ui-dialog-titlebar {
        height: 0px !important;
        width: 31px;
        position: relative;
        left: 838px;
        top: -30px;
        padding: none;
        padding-top: 0;
    }

}


.ui-dialog[aria-describedby="cvf-breakdown-dialog"],
.ui-dialog[aria-describedby="mutations-trial-dialog"] {
    .ui-dialog-titlebar {
        height: 10px !important;
        width: 31px;
        top: -40px;
        padding: none;
        padding-top: 0;
        padding-left: 109px !important;
    }



    button.ui-dialog-titlebar-close {
        right: -692px;
    }

    .bottom-bar {
        left: 0;
    }

    .ui-dialog-content {
        padding-left: 40px;
        left: 30px;
        height: 104% !important;

        h1 {
            color: $orange;
            text-align: left;
            margin-bottom: 14px;
            @include font-itc-avant-gard-pro-demi();
            font-size: 25px;
            line-height: 25px;
            padding-top: 0;
            margin-bottom: 29px;

            sup {
                top: 0;
            }
        }

        h2 {
            @include font-itc-avant-gard-pro-demi();
            font-size: 14px;
            color: $metallic-blue;
        }

        hr {
            width: 443px;
            height: 3px;
            background-color: $golden;
            border: none;
        }

        #continent {
            width: 88px;
            height: 74px;
            background-image: url(../media/images/screen-shot-2019-10-02-at-4-04-25-pm-1.png);
            background-size: contain;
            margin-right: 18.5px;
            margin-top: 10px;
            float: left;
        }

        ul {
            &::nth-of-type(1) {
                margin-top: 32px;
                margin-left: 125px;
                float: left;
                margin-top: 21px;

            }

            &.top {
                margin-top: 21px;
            }

            span {
                color: $greyish-brown;

                &.bold {
                    @include font-myriad-pro-semi-bold();
                }
            }
        }

        .clear {
            clear: both;
        }

        .footnotes {
            @include font-myriad-pro-regular();
            font-size: 8px;
            color: $greyish-brown;
        }
    }

}


.ui-dialog[aria-describedby="mutations-trial-dialog"] {
    .ui-dialog-content {
        padding-left: 114px !important;
    }


    .footnotes {
        @include font-myriad-pro-regular();
        font-size: 8px;
        line-height: 8px;
        font-size: 8px;
        color: $greyish-brown;
        margin-top: 25px;
        width: 477px;
    }
}

.ui-dialog[aria-describedby="cvf-breakdown-dialog"] {

    .ui-dialog-content {
        top: -30px;

        h1 {
            margin-bottom: 10px;
            @include font-itc-avant-gard-pro-demi();
        }

        h2 {
            font-size: 12.5px;
            @include font-itc-avant-gard-pro-demi();
        }

        .svg-container {
            margin-top: 3px;
            border-top: 2px solid $golden-rod;
            padding-top: 5px;
        }

        .svg-container-l {
            width: 48%;
            float: left;

            h2 {
                margin-bottom: 5px;
                border-bottom: 3px solid #f5be0b;
                padding-bottom: 2px;
            }
        }

        .svg-container-r {
            width: 45%;
            float: right;
            margin-right: 45px;

            strong {
                @include font-myriad-pro-bold-semi-ext();
                font-size: 14px;
                line-height: normal;
                margin-top: 15px;
                margin-bottom: 5px;
                display: block;
            }

            strong sup {
                @include font-myriad-pro-regular();
            }

            li {
                max-width: 295px;
            }

            li p {
                line-height: normal;
                margin-bottom: 0px;
            }
        }

        .footnotes-content {
            @include font-myriad-pro-regular();
            width: 705px;
            height: auto;
            font-size: 8px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $greyish-brown;
            clear: both;
            margin-top: 0px;
            padding-left: 2px;

            .space-footnotes {
                margin-top: 4px;
                margin-left: 3px;
            }
        }
    }

    ul.header-list {
        margin-left: 8px;

        li {
            position: relative;
            margin-left: 0px;

            &::before {
                content: "\2022";
                color: #f5be0b;
                font-weight: bold;
                position: absolute;
                left: -7px;
            }

            p {
                @include font-myriad-pro-regular();
                font-size: 14px;
                color: $greyish-brown;
                margin-bottom: 5px;
            }
        }

    }

    .footnotes {
        margin-top: 40px;
    }
}

#tray_isi {
    #tab-1-isi {
        display: block;
    }

    #tab-2-isi {
        display: none;

        /* transform: translateX(1%);*/
        p {
            padding-left: 10px;

            &::before {
                content: "\2022";
                margin-left: -8px;
                float: left;
                width: 0.6em;
                color: $golden-rod;
                // display: block;
            }
        }
    }
}

.float-indent {
    float: left;
    margin-left: -3px;
}

// manually adjustment for only the references for km006. They want the references
// centered specifically so.
.ui-dialog[aria-describedby="quickLinkDialog"] .dialogBody {
    padding-top: 24px;
    padding-left: 144px;
}


.ui-dialog[aria-describedby="quickLinkDialog"] #referencesScroller .iScrollVerticalScrollbar.iScrollLoneScrollbar {
    // opacity:1;

}

.dialogBody .references {
    width: 100%;
}

div.debug-position {
    display: none;
    position: absolute;

    width: -webkit-fill-available;
    z-index: 10000;
    right: 0px;

    &.v9c34 {
        //used to debug positioning.
        top: 41.3vh;
        height: 3px;
        background: rgba(77, 123, 230, 0.4);
    }
}

// #referencesScroller {
//     border-bottom:2px solid rgba(204, 204, 204, .4);

//     &:before{
//         content: '';
//         position: absolute;
//         bottom: 0;
//         background-image: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%,rgba(235, 235, 235, .3) 100%);
//         height: 50%;
//         width: 100%;
//     }
// }