/* Local CSS */
@import '../../shared/css/imports';

#container{
    .header{
        background:rgba($color: #fff, $alpha: .8)
    }
}
.mainContent {

    padding:0% 7.8% 5.8% 0%;
    @include font-itc-avant-gard-pro-demi();

    video#opening-loop{
        width: 100%;
        height: auto;
        position: absolute;
    }

    .background-overlay-1, 
    .background-overlay-2, 
    .background-overlay-3{
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size:100% auto;
        
    }

    .background-overlay-1{
        height:260px;
        background-image:url(../media/images/main-bk-overlay-1.png);
        background-size:100% auto;
        top: 355px;
    }
    .background-overlay-2{
        height: 412px;
        background-image:url(../media/images/main-bk-overlay-2.png);
        background-size:100% auto;
        top:430px;
    }
    .background-overlay-3{
        width:905px;
        height:189px;
        background-image:url(../media/images/main-bk-overlay-3.png);
        top:100px;
        top:418px;
    }


    .main-headline--container{
        position: relative;
        top:-8px;
        width:396px;
        height:103px;
        background-image:url(../media/images/main-headline.png);
        background-repeat: no-repeat;
        background-size: 108% auto;
        background-position-x: -30px;
    }

    .main-subheadline--container{
        position: relative;
        width:330px;
        height: 80px;
        top:151px;
        padding: 28px 15px 15px 18px;

        background-image:url(../media/images/subhead-background.png);
        background-repeat: no-repeat;
        background-size: 105% auto;
        background-position-x: -20px;

        p{
            @include font-itc-avant-gard-std-bold-cond();
            font-size:13px;
            line-height: 13px;
            color:$metallic-blue;
            width:314px;
        }
    }


    .bottom-text-container{
        position: relative;
        width:100vw;
        display:flex;
        color:#fff;
        top: 287px;
        padding-left:30px;
        align-items: flex-end;
        //use the height to change the position of the base-line container;
        height: 16%;
		
        .indications-text {
            width:700px;
            // height:90px;
            line-height: 1.07; //30px of 28px; ratio
            h3{
                color:$pumpkin;
                @include font-myriad-pro-bold();
                font-size:16px;
            }

            p{
                @include font-myriad-pro-regular();
                font-size:14px;
                line-height: 16px;
				margin-bottom:-1px;
            }
        }

        .disclaimer-michael-69 {
            @include font-itc-avant-gard-pro-demi();
            font-size: 11px;
            margin-left:24px;
            

            // top: 62vh;
            // right: 55px;
            // position: fixed;
            // z-index: 69;

            p {
                font-size: 11px;
            }
            .pull-left {
                display: inline-block;
                margin-left: -4px;
            }

        }

        .footnotes {
            @include  font-myriad-pro-regular();
            font-size: 11px;
            padding-left: 24px;
            width:275px;
            margin-bottom: 0;
			line-height: 13px;
            // top: 35px;
            // left: 60px;

            p {
                font-size: 11px;
            }
            .pull-left {
                display: inline-block;
                margin-left: -4px;
            }
        }

    }
}
#safe-dialog_inner{
	.isi-dialog-header{
		margin-bottom:0px;
		padding-bottom: 0px;
	}
	.isi-title-bold{
		margin-bottom:10px !important;
	}
}
.ui-dialog[aria-describedby="safe-dialog"] h3{
	@include font-myriad-pro-bold();
	}
