/**************************************************/
/* GSK Veeva Master Template - Core CSS           */
/**************************************************/
/* File version              1.7                  */
/* Last modified             03/12/2018          */
/* Last modified by          Design Center        */
/**************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: auto;
}

html {
	font-size: 0.1302083vmin !important;
}

body {
    position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
    margin: 0;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;
}
sup.gotoRef {
    display: inline-block;
    padding: 15rem;
    margin: -15rem;
}
#container {
    position: absolute;
    z-index: 1;
    top: 0;
    -webkit-perspective: 1000rem;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0rem, 0, 0);
    overflow: hidden;
}
#container::-webkit-scrollbar {
    display: none;
}
#zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024rem;
    height: 768rem;
    z-index: 999999999;
}
.bg {
    position: absolute;
    top: 0;
    z-index: -1;
}

.bg img {
	width: 100%;
	height: 100%
}

#container, .bg {
	width: 133.334vh;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#doubleClickLeft {
    position: absolute;
    z-index: 10;
    width: 50rem;
    top: 0;
    left: 0;
    height: 100%;
}
#doubleClickRight {
    position: absolute;
    z-index: 10;
    width: 50rem;
    top: 0;
    right: 0;
    height: 100%;
}
#doubleClickCentre {
    display: none;
    position: absolute;
    z-index: 10;
    width: 924rem;
    height: 100%;
    top: 0;
    left: 72rem;
}
.header,
.navBottom,
.footer {
    position: absolute;
    border: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
.header {
    z-index: 10;
	width: 5.57%;
    height: 6.78%;
	top: 3.125%;
    right: 2.735%;
}

.navBottom {
	width: 70%;
	height: 6.25%;
	left: 6.83%;
    bottom: 5rem;
	text-align: left;
    z-index: 99999;
}


.footer {
    bottom: 15rem;
    right: 28rem;
    z-index: 20;
}
.dialogLoading {
    margin-left: 1024rem;
}

/* iScroll */
.scrollable {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
}
.scrollableInner {
    position: absolute;
    z-index: 20;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

.noTitlebar .iScrollVerticalScrollbar {
    margin-top: 55rem;
}
.quickLinkDialogReferences .iScrollVerticalScrollbar {
    margin-top: 0;
}
/* Content loader iframe */
iframe.contentLoader {
    width: 0;
    height: 0;
    visibility: hidden;
}

/** 
 * Restrict min-width: 768px & min-height: 1024px in portrait mode;
 */

@media (min-width: 0) and (orientation:portrait) {
	#container, .bg {
		position: fixed;
	    width: 100vw;
        height: 133vw;
		min-width: 768px;
		min-height: 1024px;
		margin:auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
}
}

