<div id="safe-dialog_inner" class="dialogBody scrollableInner">
	<h1 class="isi-dialog-header">Important Safety Information</h1>

	<h3 class="isi-title-bold">CONTRAINDICATIONS</h3>
	<ul>
		<li><span>Do not use CABENUVA in patients with previous hypersensitivity reaction to cabotegravir or rilpivirine</span></li>
		<li><span>Do not use CABENUVA in patients receiving carbamazepine, oxcarbazepine, phenobarbital, phenytoin, rifabutin, rifampin, rifapentine, systemic dexamethasone (&gt;1 dose), and St John’s wort</span></li>
	</ul>

	<h3 class="isi-title-bold">WARNINGS AND PRECAUTIONS</h3>
	<p class="footer-text-bold">Hypersensitivity Reactions:</p>
	<ul>
		<li><span>
			Hypersensitivity reactions, including cases of Drug Reaction with Eosinophilia and Systemic Symptoms (DRESS), have been reported during postmarketing experience with rilpivirine-containing regimens. While some skin reactions were accompanied by constitutional symptoms such as fever, other skin reactions were associated with organ dysfunctions, including elevations in hepatic serum biochemistries
		</span></li>

		<li><span>Serious or Severe hypersensitivity reactions have been reported in association with other integrase inhibitors and could occur with CABENUVA </span></li>

		<li><span>Discontinue CABENUVA immediately if signs or symptoms of hypersensitivity reactions develop, as a delay in stopping treatment may result in a life-threatening reaction. Clinical status, including liver transaminases, should be monitored and appropriate therapy initiated. Prescribe the oral lead-in prior to administration of CABENUVA to help identify patients who may be at risk of a hypersensitivity reaction.</span>
		</li>
	</ul>
	<p class="footer-text-bold">Post-Injection Reactions</p>
	<ul>
		<li><span>
			Serious post-injection reactions (reported in less than 1% of subjects) were reported within minutes after the injection of rilpivirine, including dyspnea, agitation, abdominal cramping, flushing, sweating, oral numbness, and changes in blood pressure. These events which may have been associated with inadvertent (partial) intravenous administration and began to resolve within a few minutes after the injection.
		</span></li>
		<li><span>
			Carefully follow the Instructions for Use when preparing and administering CABENUVA to avoid accidental intravenous administration. Observe patients briefly (approximately 10 minutes) after the injection. If a post-injection reaction occurs, monitor and treat as clinically indicated.
		</span></li>
	</ul>
	<p class="footer-text-bold">Hepatotoxicity:</p>
	<ul>
		<li><span>
			Hepatotoxicity has been reported in patients receiving cabotegravir or rilpivirine with or without known pre-existing hepatic disease or identifiable risk factors
		</span></li>

		<li><span>
			Patients with underlying liver disease marked elevations in transaminases prior to treatment may be at increased risk for worsening or development of transaminase elevations.
		</span></li>

		<li><span>
			Monitoring of liver chemistries is recommended and treatment with CABENUVA should be discontinued if hepatotoxicity is suspected.
		</span></li>

	</ul>

	<p class="footer-text-bold">Depressive Disorders:</p>
	<ul>
		<li>
			<span>
			Depressive disorders (including depressed mood, depression, major depression, mood altered, mood swings, dysphoria,  negative thoughts, suicidal ideation or attempt) have been reported with CABENUVA or the individual products
		</span></li>

		<li><span>Promptly evaluate patients with severe depressive symptoms</span></li>
	</ul>

	<p class="footer-text-bold">Risk of Adverse Reactions or Loss of Virologic Response Due to Drug Interactions:</p>

	<ul>
		<li><span>The concomitant use of CABENUVA and other drugs may result in known or potentially significant drug interactions some of which may lead to adverse events, loss of virologic response of CABENUVA and possible development of viral resistance (see Contraindications and Drug Interactions)</span></li>

		<li><span>Rilpivirine doses 3 and 12 times higher than the recommended oral dosage can prolong the QTc interval.  CABENUVA should be used with caution in combination with drugs with a known risk of Torsade de Pointes</span></li>
	</ul>


	<p class="footer-text-bold">Long-Acting Properties and Potential Associated Risks with CABENUVA </p>
	<ul>
		<li>
			<span>
				Residual concentrations of cabotegravir and rilpivirine may remain in the systemic circulation of patients for prolonged periods (up to 12 months or longer).  Select appropriate patients who agree to the required monthly injection dosing schedule because non-adherence to monthly injections or missed doses could lead to loss of virologic response and development of resistance
			</span>
		</li>
		<li>
			<span>
				To minimize the potential risk of developing viral resistance, it is essential to initiate an alternative, fully suppressive antiretroviral regimen no later than 1 month after the final injection doses of CABENUVA. If virologic failure is suspected, switch the patient to an alternative regimen as soon as possible.

			</span>
		</li>
	</ul>

</p>

	<h3 class="footer-text-bold">ADVERSE REACTIONS</h3>

	<p><span>The most common adverse reactions (incidence ≥2%, all grades) with CABENUVA were injection site reactions, pyrexia, fatigue, headache, musculoskeletal pain, nausea, sleep disorders, dizziness, and rash.</span>
	</p>

	<h3 class="footer-text-bold">DRUG INTERACTIONS</h3>

	<ul>
		<li><span>
			Refer to the applicable full prescribing information for important drug interactions with CABENUVA, VOCABRIA, or EDURANT
		</span></li>
		<li><span>
			Because CABENUVA is a complete regimen, coadministration with other antiretroviral medications for the treatment of HIV-1 infection is not recommended.
		</span></li>
		<li><span>
			Drugs that are strong inducers of (UGT)1A1 or 1A9 are expected to decrease the plasma concentrations of cabotegravir. Drugs that induce or inhibit CYP3A may affect the plasma concentrations of rilpivirine
		</span></li>
		<li><span>
			CABENUVA should be used with caution in combination with drugs with a known risk of Torsade de Pointes.
		</span></li>
	</ul>

	<h3 class="footer-text-bold">USE IN SPECIFIC POPULATIONS</h3>

	<ul>
		<li><span class="footer-text-bold">Pregnancy</span>: <span class="greyish-brown">
			There are insufficient human data on the use of CABENUVA during pregnancy to adequately assess a drug-associated risk for birth defects and miscarriage. Discuss the benefit-risk of using CABENUVA during pregnancy and conception and consider that cabotegravir and rilpivirine are detected in systemic circulation for up to 12 months or longer after discontinuing injections of CABENUVA. An Antiretroviral Pregnancy Registry has been established.
		</span></li>
		<li><span class="footer-text-bold">Lactation</span>: <span class="greyish-brown">
			The CDC recommends that HIV-1−infected mothers in the United States not breastfeed their infants to avoid risking postnatal transmission of HIV-1 infection. Breastfeeding is also not recommended due to the potential for developing viral resistance in HIV-positive infants, adverse reactions in a breastfed infant, and detectable cabotegravir and rilpivirine concentrations in systemic circulation for up to 12 months or longer after discontinuing injections of CABENUVA
		</span></li>
	</ul>

	<p class="trademarks">Trademarks are owned or licensed to the ViiV Healthcare group of companies.<br>
		<span>©2020 ViiV Healthcare or licensor.<br>
			CBTEDTL190001 &nbsp;&nbsp;&nbsp; XXXX 2020&nbsp;&nbsp;&nbsp;Produced in USA.</span>
	</p>
	<br>
</div>