/* Local CSS */
@import '../../shared/css/imports';

/* Overwhite KM 004 styles by Erickm*/

#container{
    background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    // background-position-x: 56px, -20px;
    // background-position-y: 81px, -205px;
    // background-size:912.5px 500px, 212% auto;

    background-position-x: 10px, -20px;
    background-position-y: -3px, -205px;
    background-size: 1003.5px auto, 212% auto;
}
.header{
  background:none;
}
.mainContent{
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin-top:75px;
  margin-left: 5.5%;
  margin-right: 5.4%;
  padding: 30px 15px 35px 33px;
  @include font-itc-avant-gard-pro-demi();
  box-sizing: border-box;


  .orange-title{
    @include font-itc-avant-gard-pro-demi();
    height: 25px;
    font-size: 25px;
    letter-spacing: normal;
    color: $pumpkin;
  }
  #content-left{
    position: relative;
    width:726.5px;
    height:408px;
    float: left;
    margin:14px 0px 0px 0px;
    @include font-itc-avant-gard-pro-demi();

	.title-graph-01{
	  @include font-itc-avant-gard-pro-demi();
	  font-size: 11px;
	  color:$white;
	  width: 135px;
	  background-image: linear-gradient(to right, $metallic-blue 0%, $greyish-brown-two 100%);
	  text-align: center;
	  border-radius: 5px 5px 0px 0px;
	  padding: 5px 0px 0px 0px;
	}
	.title-graph-02{
	  @include font-itc-avant-gard-pro-demi();
	  font-size: 11px;
	  color:$white;
	  width: 135px;
	  background-image: linear-gradient(to right, $greyish-brown-two 0%, $brownish-grey 100%);
	  text-align: center;
	  border-radius: 5px 5px 0px 0px;
	  padding: 5px 0px 0px 0px;
	}
	.yellow-line{
	  width: 100%;
	  border-bottom: 3px solid $golden;
	  margin-bottom:10px;
	}
	.title-graph-02-area{
	  position: absolute;
	  width: 100%;
	  top: 204px;
	}
  }
  #content-right{
    width:125px;
    height:241px;
    float: right;
    @include font-myriad-pro-regular();
    font-size: 8px;
    line-height:9.8px;
    color:$brownish-grey;
    margin: 40px 0px 0px 0px;
    transform: translateX(-6%);
  }

  .hanging-indent {
    float: left;
    margin-left: -4px;
  }

  .spacer5{
    padding-top: 3px;
  }


  .shift-left{
    margin-left:-3px;
  }
}
 /* end .mainContent */
