/* Local CSS */
@import '../../shared/css/imports';

.header{
    height:80px;
    //background:rgba(255, 255, 255, .01);
    background:transparent;
}

.mainContent{
    padding: 9.5% 0% 5.8% 0%;
   
    background-image:url(../media/images/graffiti-background.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include font-itc-avant-gard-pro-demi();

    .disclaimer-xs {
		@include font-myriad-pro-regular();
        position: absolute;
        top: 72.4vh;
        font-size: 8px;
        color: #fff;
        padding-left: 2.8vw;
    }
}

sup.superscript{
    font-size:.55em;
    position:static;
    vertical-align:super;
    margin-left: -4px;
}

.hanging-indent{
    float:left;
    margin-left:-4px;
}

sup.superscript.hanging-indent{
    margin-top: 3px;
    margin-left: -3px;
}

.inner-container{
    
    .content-container {
       background-image: url(../media/images/peach-background.png);
       background-repeat: no-repeat;
       background-position-x:-30px;
       background-position-y:-20px;
       margin-top:105px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       //padding-top: 19.8vh 19.5vw 22vh  20.2vw;
       height: 227px;
       box-shadow: -1.8px 1.8px 5.9px 0.6px rgba(37, 39, 43, 0.2);
       @include font-itc-avant-gard-pro-demi();
       color:#323c46;
       
       h1 {
            font-size: 36.5px;
            line-height: 1.65;
            color:#fff;
            text-shadow: -3.5px 3.5px 6.9px rgba(0, 0, 0, 0.22);
            
       }

       h2 {
           font-size: 25px;
           line-height: 25px;
           margin-bottom:8px;
          
		   /* span{
		   		font-size:24px !important;
		   }*/
       }

       p {
           text-align: center;
           width: 720px;
           font-size:25px;
           line-height: 25px;
        }
    }



}