/* Local CSS */
@import '../../shared/css/imports';

/* Overwrite CSS */

#container{
  background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
  background-repeat: no-repeat;
  // background-position-x: 56px, -20px;
  // background-position-y: 81px, -205px;
  // background-size:912.5px 500px, 212% auto;

  background-position-x: 10px, -20px;
  background-position-y: -3px, -205px;
  background-size: 1003.5px auto, 212% auto;
}

.header{
  background:none;
}

.mainContent{
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin:0 auto;
  margin-top:70px;
  margin-left: 5.5%;
  margin-right: 5.4%;
  padding: 30px 35px 35px 33px;

  .orange-title-003 {
    @include font-itc-avant-gard-pro-demi();
    width: 620px;
    height: 25px;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: left;
    color: $pumpkin;
  }
  .table-area-003 {
    width: 826.5px;
    height: 330px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .bar-degrade-fullwidth{
    @include font-itc-avant-gard-pro-demi();
    width:826px;
    height:24px;
    line-height: 28px;
    background-image: linear-gradient(to right, $metallic-blue 0%, $greyish-brown-two 100%);
    text-align: center;
    font-size:10px;
    color:$white;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
  }
  .bar-degrade-fullwidth sup{
    font-size:6px;
    letter-spacing:0px;
  }
  .top-rectangle{
    @include  font-myriad-pro-regular();
    width:826px;
    height: 112px;
    background-image: linear-gradient(to right, $white-two 0%, #F3F3F3 50%);
    margin: 4px 0px 0px 0px;
    font-size: 11.5px;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color:#000;
    border-radius: 0 0 12px 12px;


	.top-rectangle-title{
	  border-top: 1px solid $metallic-blue;
	  border-bottom: 1px solid $metallic-blue;
	  clear: both;
	  text-align: center;
	  width:96%;
	  margin: 15px 2% 3px 2%;
	  padding: 5px 0px 3px 0px;
	}
  }
  .dot-orange{
    color:$golden;
    float: left;
    margin-left: -8px;
  }
  .table-top-a{
    width:248px;
    float: left;
    color:#000;
    height: 27px;
    border-right: 1px solid $blue-grey;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 0px 25px 0px 15px;
  }
  .table-top-b{
    width:255px;
    float: left;
    color:#000;
    height: 27px;
    border-right: 1px solid $blue-grey;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 0px 18px 0px 18px;
  }
  .table-top-c{
    width:143px;
    float: left;
    color:#000;
    height: 27px;
    border-right: 1px solid $blue-grey;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 0px 21px 0px 20px;

    sup{
      top:-0.3em;
    }
  }
  .table-top-d{
    width:180px;
    float: left;
    color:#000;
    height: 27px;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
  }
  .table-top-e{
    width:247px;
    float: left;
    color:#000;
    height: 27px;
	border-right: 1px solid $blue-grey;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 8px 0px 0px 37px;
  }
  .table-top-f{
    width: auto;
    float: left;
    color:#000;
    height: 27px;
	border-right: 1px solid $blue-grey;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 8px 37px 0px 30px;
  }
  .table-top-g{
    width:auto;
    float: left;
    color:#000;
    height: 27px;
    box-sizing: border-box;
    margin: 7px 0px 0px 0px;
    padding: 0px 35px 0px 35px;
    
    p {
      width: 235px;
      line-height: 1;
    }
  }

  .row-efg {
    padding-top: 0px;
  }
  
  .table-fifty-top-area-l{
    width:410.5px;
    margin: 7px 0px 0px 0px;
    float:left;
  }
  .table-fifty-top-area-r{
   width:410.5px;
    margin: 7px 0px 0px 0px;
    float:right;
  }
  .blue-degradation{
    @include font-itc-avant-gard-pro-demi();
    width:100%;
    height: 36px;
    color:#fff;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: normal;
    text-align: center;
    background-image: linear-gradient(to right, $dark-grey-blue, $metallic-blue 100%);
    padding:7px 0px 0px 0px;

    sup{
      font-size:6px;
      letter-spacing: 0px;
    }
  }
  .gray-degradation{
    @include font-itc-avant-gard-pro-demi();
    width:100%;
    height: 36px;
    color:#fff;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: normal;
    text-align: center;
    background-image: linear-gradient(to right, $greyish-brown-two, #87898b 100%);
    padding:7px 0px 0px 0px;

    sup{
      font-size:6px;
      letter-spacing: 0px;
    }
  }
  .content-area-left{
    @include  font-myriad-pro-regular();
    font-size: 11.5px;
    line-height: 13px;
    width:100%;
    height:140px;
    background-color:#EEF0F2;
    margin: 4px 0px 0px 0px;
    border-radius:0px 0px 0px 12px;
    box-sizing: border-box;
    padding: 7px 11px 0px 9px;

    sup{
      font-size:6px;
	    top:-0.6em;
    }

  }
  .content-area-right{
    @include  font-myriad-pro-regular();
    font-size: 11.5px;
    line-height: 13px;
    width:100%;
    height:140px;
    background-color:#EFEFEF;
    margin: 4px 0px 0px 0px;
    border-radius:0px 0px 12px 0px;
    box-sizing: border-box;
    padding: 7px 13px 0px 13px;

    sup{
      font-size:6px;
	    top:-0.6em;
    }
  }
  .separator-km003{
    width: 100%;
    border-top:1px solid $metallic-blue;
    border-bottom:1px solid $metallic-blue;
    text-align: center;
    padding: 7px 0px;
    margin: 7px 0px;
  }
  .left-box-area-bottom{
    width: 183px;
    float: left;
    letter-spacing: -0.1px;
    margin-left: 6px;
    
  }
  .center-box-area-bottom{
    width: 16px;
    float: left;
    font-size: 11.5px;
    line-height: 12px;
	font-weight: 600;
  }
  .vertical-line{
    width: 2px;
    border-left: 1px solid $white-two;
    height:16px;
    background-color:#97A6B5;
    margin: 0px 7px 2px 6px;
  }
  .right-box-area-bottom{
    width: 175px;
    float: right;
	letter-spacing: -0.1px;
  }
  .left-box-area-bottom-v2{
    width: 156.4px;
    float: left;
    margin-left: 8px;
	sup{
		top: -5px;
		font-size: 6px;
	}
  }
  .center-box-area-bottom-v2{
    width: 19px;
    float: left;
    font-size: 11.5px;
    line-height: 12px;
	font-weight: 600;
  }
  .right-box-area-bottom-v2{
    width: 188px;
    float: right;
  }
  .bottom-content-area{
    @include  font-myriad-pro-regular();
    width:826.5px;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
    color:$greyish-brown;
    margin: 0 auto;

    .footnote-shift{
      display:block;
      margin-left:5px;
    }
  }
  .clear-line{
    clear: both;
  }
}/* end mainContent */

.ui-dialog[aria-describedby=quickLinkDialog] .dialogBody {
  padding-top: 62px;
  padding-left: 80px;
  padding-right: 80px;
}

#referencesScroller {
  max-height: 355rem;
}
