/* Local CSS */
@import '../../shared/css/imports';


.mainContent{
    background-image: linear-gradient(to right, #143971, #0080aa);
    padding:0px;
}

sup.superscript{
    font-size:.55em;
    position:static;
    vertical-align:super;
}

.km1-slides-container{
    width:100%;
    color:#fff;
    @include font-itc-avant-gard-pro-demi();

    .km1-slide{
        display: grid;
        width:100%;
        height:660px;
        grid-template-columns: 568px auto;
        overflow: hidden;
        transition: margin 500ms;

        //toggle states
        &.slide-1{
            margin-top:-670px;

            &.slide-active{
                margin-top:10px
            }
        }

        //toggle states
        &.slide-2{
            margin-top:60px;
            .headline-text-container h1{
                margin-top:40%;
            }
           &.slide-active{
                margin-top:20px;
            }

            .footnote{
                margin-top:220px;
				@include font-myriad-pro-regular();
                p{
                    @include font-myriad-pro-regular();
                    font-size: 8px;
                    line-height: 1;
                }
            }
        }

        .headline-text-container{
            box-sizing:border-box;
            padding:0px 0px 0px 90px;
            height:100%;

            h1{
                font-size: 42px;
                line-height: 1.07;
                margin-top:50%;
            } 
        }

        .icons-container{
            position: relative;
            height:100%;
            .vertical-line{
                position: absolute;
                left:32px;
                top:0px;
                width:1px;
                height:100%;
                background-color:#fff;
                z-index:-100;
            }
            .icon-container{
                display: flex;
                width:346px;
                margin-bottom:60px;
            
                img{
                    width:64px;
                    height:64px;
                }
            
                p{
                    padding-left:24px;
                    line-height: 1.57;
                    margin-top:10px;
                }

                &:nth-of-type(2){
                    margin-top:50%;
                }
            }            
        }
    }
}

#toggle-button{
    cursor: pointer;
    width: 100%;
    height: 41px;
    
    img{
        position: relative;
        left:calc(568px + 20px);
        width: 24.5px;
        height: 40.5px;
        margin-bottom:8px;
        
        &.rotate{
            transform:rotate(-180deg);
            margin-bottom:0px;
            margin-top:15px;
        }
    }
}







