<div class="container quick-links">
    
    <div class="divider display"></div>
    <div id="menu" class="gotoSlide logEmbedded" data-description="Embedded Menu"></div>
    <div class="divider display"></div>
    <div id="home" class="gotoSlide"></div>
    <div class="divider display"></div>
    <div id="references" class="gotoSlide logEmbedded display" data-description="Embedded References"></div>
    <div class="divider display"></div>
    <div id="summary" class="gotoSlide logEmbedded display" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_013" data-description=""></div>
    <div class="divider display"></div>
    <div id="calendar" class=" logEmbedded display" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_012" data-description=""></div>
    <div class="divider display"></div>
    <div id="implementation" class=" logEmbedded display" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_012" data-description=""></div>
    <div class="divider display"></div>
    <div id="email" class="display needsclick logClick" data-fields="TrackElementId|TrackElementType|TrackElementDescription|SelectedItems" data-description="Quicklinks|Button|Email icon|Email icon button"></div>
</div>


<!-- <div id="Isi-nav" class="openDialog deactivated" data-dialog="#safe-dialog"></div> -->
<div id="Isi-nav" class="container openDialog deactivated" data-dialog="#safe-dialog">
    
        IMPORTANT SAFETY INFORMATION fOR CABENUVA
    
</div>
<div id="pi" class="container gotoSlide" data-slide="USPI-CABENUVA-PI-PIL" data-presentation="USPI-CABENUVA-PI-PIL" >
    
        Full PRESCRIBING<br>INFORMATION FOR CABENUVA
    
</div>


<script>

    const goToKm12 = ()=>{com.gsk.mt.gotoSlide('CBTEDTL190001_CABENUVA_2019_US1.0_012')};
   

 //Quicklink button logic
$('.navBottom #implementation').click(()=>{
        sessionStorage.setItem('slideSection', 'dosing-implementation');
        setTimeout(goToKm12, 10)
    });

$('.navBottom #calendar').click(()=>{
        sessionStorage.setItem('slideSection', 'dosing-calendar');
        setTimeout(goToKm12, 10)
    });


</script>