
/* Dialogs */

div.ui-widget-overlay {
    //width: 1366px;
    height: 1024px;
    opacity: 1;
    background-color: transparent;
}

div.ui-dialog {
    display: none;
    padding: 6px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    @include font-myriad-pro-regular();
    height: 546.5px !important;
    width: 888.5px !important;
    top: 137px !important;
    left: 69px !important;
}

div.ui-dialog.menu-container {
	width: 243px !important;
	height: 699px !important;
	top: 0 !important;
	border-radius: 0;
	.iScrollVerticalScrollbar {
		display: none;
	}
}

.ui-dialog .ui-dialog-titlebar {
    height: 75px;
    padding: 4px;
    padding-top: 35px;
}

.ui-dialog .ui-titlebar-hidden {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 0;
    height: 0;
    padding: 0;
    overflow: visible;
}

.ui-dialog .ui-dialog-title {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    margin: 73px;
    float: none;
    overflow: visible;
}

.ui-dialog .ui-dialog-content {
    padding: 4px;
    z-index: 5;
    overflow: hidden;
    height: 100% !important;
}

.ui-dialog[aria-describedby="safe-dialog"], .ui-dialog[aria-describedby="quickLinkDialog"], .ui-dialog[aria-describedby="viral-efficacy-dialog"], 
.ui-dialog[aria-describedby="adverse-reaction-dialog"], .ui-dialog[aria-describedby="cvf-breakdown-dialog"], 
.ui-dialog[aria-describedby="mutations-trial-dialog"], .ui-dialog[aria-describedby="viiv-connect-dialog"] {

    width: 825.5px !important;
    height: 541px !important;
    border-radius: 8.5px;
    border: solid 2.5px $metallic-blue;
    background-color: $white-two;
    top: 83px !important;
    left: 96px !important;
   
    padding-left: 0px;
    padding-right: 0;
    padding-top: 43.5px;

    .bottom-bar {
        background-color: $golden;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 9.7px;
        width: 100%;
    }
   
    @include font-myriad-pro-regular();
   
    border-radius: 8.5px;

    #safe-dialog {
        width: 1023px !important;
        left: 0;
        margin-top: -16px;
        margin-left: -15px;

        #tivicay-logo {
            width: 132.5px;
            height: 76px;
            background: url('../../shared/media/images/Tivicay_US_RGB_new-lockup_v3.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 16px;
            margin-left: 0;
        }

        #safe-dialog_inner {
            width: 75%;
            left: 72px;
            .gotoSlide {
                color: #8b1d58;
                text-decoration: underline;
            }
            
         }
     }
      
    .dialogBody {
        padding-right: 44px;
        
    } 
	h1.isi-dialog-header {
		@include font-myriad-pro-bold();
		font-size: 25px;
		line-height: 33.8px;
        // margin-bottom: 12px;
        color: $pumpkin;
        padding-bottom: 13px;
        display: block;
        margin-top: 6px;
        
	}
	h3 {
		color: $metallic-blue;
		@include font-myriad-pro-semi-bold();
		font-size: 14px;
        line-height: 19px;
        &.subhead {
          //  color: $marine-blue;
        }
	}
	p {
        margin-bottom: 0;
        font-size: 13.5px;

        &.footer-text-bold {
            @include font-myriad-pro-bold();
            font-size: 14px;
            line-height: 15px;
            color: $dark-grey-blue-three;
        }
       

        &:not(.footer-text-bold) {
            margin-bottom: 13.5px;
            line-height: 13.5px;
        }
        &.trademarks {
            line-height: 15px;
            span {
                display: inline-block;
                margin-top: 13.5px;
            }
            &:before {
                content: "";
                width: 50px;
                height: 50px;
                position: absolute;
                background-size: 38px 32px;
                background-repeat: no-repeat;
                left: 4px;
                top: 1061px;    
            }
        }
       
        span.footer-text-bold {
          //  @include font-roboto-bold();
            font-size: 13.5px;
            line-height: 15px;
           // color: $medium-blue !important;
        }

        &.bold-grey {
          //  @include font-roboto-bold();
            font-size: 13.5px;
            line-height: 15px;
            color: #58595b;
        }
	}
	ul {
        margin-bottom: 20px;
        margin-top: 4px;
       
       li {
            padding-left: 0px;
            font-size: 18px;
            line-height:16px;
            
            @include font-myriad-pro-regular();
            color: $golden;
            .footer-text-bold {
                @include font-myriad-pro-bold();
            }
        span {
            color: $greyish-brown;
            font-size:14px;
            line-height: 1.3;
            &.greyish-brown {
                color: $greyish-brown;
                
            }
        }
       
        span.footer-text-bold {
            @include font-myriad-pro-bold();
            color: $greyish-brown;
        }
       }
    }

    p {
        span {
            color: $greyish-brown;
            font-size:14px;
            line-height: 1.3;
            &.greyish-brown {
                color: $greyish-brown;
                
            }
        }
    }
    
    .iScrollVerticalScrollbar {
        &.iScrollLoneScrollbar {
            height: 96%;
            // bottom: 0;
            top: -38px !important;
            right: 200px !important;
            // bottom: 0 !important;
           // box-shadow: 0px 0.5px 0 0 #fff, inset 0px 0.5px 1.5px 0 #000 !important;
            background-color: $very-light-pink;
            // width: 7px !important;
            // left: 849px !important;
            .iScrollIndicator {
                // height: 200px !important;
                width: 7px !important;
                background-color: $pumpkin !important;
               // box-shadow: 0px 0.5px 1.5px 0 #989b9d;
                //background-image: linear-gradient(to top, $medium-blue, $medium-blue) !important;
            }
        }
    }
}

.ui-dialog[aria-describedby="quickLinkDialog"] {
    .topNav.referenceSelector {
        display: none !important;
    }

    .dialogBody { 
        padding-top: 82px;
        padding-left: 91px;
        padding-right: 88px;

        ol {
            list-style: decimal;

        }

        h3 {
            @include font-myriad-pro-bold();
            color: $pumpkin;
            font-size: 25px;
            margin-bottom: 6rem;
        }

        .footer-text-bold {
            @include font-myriad-pro-semi-bold();
            font-size: 14px;
            line-height: 15px;
            color: $greyish-brown;
        }

        #referenceList li.referenceInactive {
            list-style: decimal;
            overflow: visible;
            left: 8rem;
            height: 13vh;
            color: $greyish-brown !important;
            @include font-myriad-pro-bold();
            span {
                @include font-myriad-pro-regular();
            }
        }
    }
}

.ui-dialog .ui-button-icon {
    display: none;
}

.ui-dialog .ui-dialog-content .dialogBody {
    display: block;
    position: absolute;
    //bullet style for the globally injected dialog isi html
    ul:nth-child(n+2) {
    
        li::before {
            content: '\2022';
            color: $golden-rod;
            margin-left: -10px;
            float: left;
        }
    }
    .dialog-heading-2 {
        span:first-child {
            @include font-myriad-pro-bold();
        }
    }
}

.ui-dialog button.ui-dialog-titlebar-close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: url(../../shared/media/images/close-icon-png@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

/* Styling for open links within a dialog box */
.dialog .openDialog {
    text-decoration: underline;
}

/*Bug fix for references scrollbar*/

.ui-dialog[aria-describedby="quickLinkDialog"] #referencesScroller .iScrollVerticalScrollbar.iScrollLoneScrollbar {
    
    right:0px !important;
    top:10px !important;
    opacity:0;

}







