.isi-footer {
    position: absolute;
    overflow: hidden;
    bottom  : -2.5vh;
    z-index : 100;
    transition-duration: .25s;

    &.layout-sidebar-left {
        padding              : 0 0;
        margin               : 0 0;
        display              : grid;
        grid-template-columns: 91% 5%;
        grid-template-rows   : auto;
        grid-gap             : 3vw;
        grid-template-areas  : "isi-tray isi-right";
        width                : 100vw;
        height               : 26vh;
        background           : #fff;

        .isi-right {
            vertical-align: top;

            img#expand-btn,
            .isi-right img#collapse-btn {
                width   : 28.5px;
                position: relative;
                z-index : 500;
                top     : 13px;
                right   : -10px;
            }

            img#collapse-btn {
                transform : rotate(180deg);
                width     : 28.5px;
                position  : relative;
                z-index   : 500;
                margin-top: 13px;
                display   : none;
            }

        }

        .isi-tray {
            grid-area: isi-tray;
            padding  : 2vh 0 0 3.5vw;


            .dialogBody {
                display        : flex;
                justify-content: flex-start;
                padding-top    : 0;

                h3:first-of-type {
                    margin-top: 4px;
                }

                .isi-footer-heading {
                    line-height   : 1.32;
                    letter-spacing: 0.2px;
                    @include font-myriad-pro-bold();
                    font-size    : 16px;
                    font-weight  : 500;
                    color        : $pumpkin;
                    margin-bottom: 0px;
                }

                h2 {
                    @include font-myriad-pro-bold();
                    font-size     : 14px;
                    color         : $metallic-blue;
                    text-transform: uppercase;
                    span {
                        text-transform: lowercase;
                    }
                }

                h3 {
                    @include font-myriad-pro-bold();
                    color        : #555;
                    font-size    : 14px;
                    line-height  : 15rem;
                    margin-bottom: 2px;
                    margin-top   : 4px;
                }

                p {
                    @include font-myriad-pro-regular();
                    font-variant-ligatures: none;
                    font-size             : 14px;
                    line-height           : 1.2;
                    color                 : $greyish-brown;
                }

                p.footer-text-bold {
                    @include font-myriad-pro-semi-bold();
                    font-variant-ligatures: none;
                    font-size             : 14px;
                    line-height           : 14px;
                    color                 : $greyish-brown;
                    margin-top            : 3rem;
                }

                ul {
                    list-style-type: none;
                }

                ul li {
                    @include font-myriad-pro-regular();
                    position    : relative;
                    color       : $greyish-brown;
                    font-size   : 14px;
                    line-height : 1.3;
                    margin-left : 8x;
                    padding-left: 0px;
                    margin-left : 16px;

                    &::before {
                        content    : "\2022";
                        color      : $golden;
                        // display    : inline-block;
                        width      : .6em;
                        margin-left: -12px;
                        float: left;
                        font-size: 20px;
                        margin-top: -5px;
                    }

                    span {
                        color: $greyish-brown;
                        h3 {
                            display: inline;
                        }
                    }

                }
            }

        }
    }
}