// Defaults
#customMenuWrapper {
    display   : none;
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    padding   : 0;
    z-index   : 20;
    text-align: center;
    background: transparent url('../../shared/media/images/overlay.png');
}

#customMenuWrapper .scrollableInner {
    z-index: 10;
}

#customMenuWrapper.mtLoad {
    display: block;
    top    : 1024rem;
}

#customMenuWrapper.inlineMenu {
    display   : block;
    top       : 145rem;
    height    : 500rem;
    background: transparent;
}

#customMenuWrapper.enableQuickLinks {
    z-index: 99990;
}

#closeCustomMenu {
    position         : absolute;
    top              : 14rem;
    right            : 20rem;
    width            : 44rem;
    height           : 44rem;
    background       : url('../../shared/media/icons/icon_close.svg');
    background-repeat: no-repeat;
    background-size  : 100%;
}

#customMenu {
    display         : block;
    position        : relative;
    top             : 125rem;
    left            : 5%;
    width           : 90%;
    height          : 500rem;
    padding         : 5rem;
    border          : 1rem solid #66cc66;
    background-color: #fff;
    font            : 16rem/24rem HelveticaMedium;
    z-index         : 99998;
}

#customMenuWrapper.inlineMenu #customMenu {
    // top             : 10rem;
    // left            : 0;
    // height          : 500rem;
    // border          : none;
    // background-color: transparent;
}

#customMenu .customMenuItems {
    // display   : block;
    // position  : relative;
    // overflow  : hidden;
    // text-align: left;
}

#customMenu .customMenuItems .scrollableInner {
    // height: auto;
}

#customMenu>ul {
    list-style   : none;
    // margin-top: 20rem;

}

#customMenu h3 {
    // font       : 26rem/34rem HelveticaMedium;
    // text-align : left;
    // margin-left: 25rem;
    // margin-top : 15rem;
}

.customMenuKeyMessage {
    display          : inline-block;
    // vertical-align: top;
}

.customMenuKeyMessage {
    // width       : 185rem;
    // margin-right: 20rem;
    list-style     : none;
}

.customMenuKeyMessage:last-of-type {
    margin-right: 0;
}

.customMenuKeyMessage div.keyMessage {
    // padding      : 10rem;
    color           : #fff;
    background-color: #6688ff;
    border          : 1rem solid #6080ff;
}

.customMenuKeyMessage div.scrollable,
.customMenuKeyMessage ul {
    // height: 350rem;
}

#customMenuWrapper.inlineMenu .customMenuKeyMessage div.scrollable {
    // height: 450rem;
}

#customMenuWrapper.inlineMenu .customMenuKeyMessage ul {
    height: auto;
}

.customMenuKeyMessage ul li {
    list-style-type: none;
    font-size      : 14rem;
    padding        : 10rem 0 3rem 10rem;
    height         : 44rem;
    box-sizing     : border-box;
}



// Custom menu styles
#customMenu {
    display         : block;
    position        : fixed;
    top             : 0;
    left            : 0;
    //width           : 510.5px;
    height          : 94.4vh;
    padding         : 5rem;
    // border          : 1rem solid #66cc66;
    // background-color: #fff;
    font            : 16rem/24rem HelveticaMedium;
    z-index         : 99998;
    width: 530px;
    padding-top:45px;
    padding-left:50px;

    background-image: url("../../shared/media/images/menu-background.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 110%;

    #closeCustomMenu {
        position: absolute;
        top: 45px;
        right: 20rem;
        width: 25px;
        height: 25px;
        background-image: url("../../shared/media/images/close-icon-png@2x.png"); 
        background-repeat: no-repeat;
        background-size: contain;
        }

    .customMenu {
        display       : flex;
        flex-wrap     : wrap;
        flex-direction: column;
        height:550px;

        .section{
            width:220px;
            //border-top:1px solid $brownish-grey;
           

            header{
                p{
                    color:$metallic-blue;
                    font-size:14px;
                    @include font-itc-avant-gard-pro-demi();
                    text-transform: uppercase;
                    text-align: left;
                    margin:10px 5px;
                    line-height: 1.3;
                }
            }

            ul.sub-sections{
                border-bottom:1px solid $brownish-grey;
                width:85%;


                li p{
                    font-size:13px;
                    color: $pumpkin-two;
                    @include font-itc-avant-gard-pro-demi();
                    text-transform: uppercase;
                    text-align: left;
                    margin:10px 5px;
                }
                
            }

            &:nth-of-type(6), 
            &:nth-of-type(13){
                ul.sub-sections{
                    border-bottom:0px;
                }
            }
        }

        // .customMenuKeyMessage {
        //     .keyMessage {
        //         display: none;

        //         // 4 5 7 10 12 13
        //         &:nth-of-type(4),
        //         &:nth-of-type(5),
        //         &:nth-of-type(7),
        //         &:nth-of-type(10),
        //         &:nth-of-type(12),
        //         &:nth-of-type(13) {
        //             display: unset;
        //         }
        //     }

        //     ul {
        //         height: 50px;
        //     }

        //     .customMenuItems {
        //         height: 50px;
        //     }
        // }
    }
}