// Tabs

.tabs .side-menu {
    position: absolute;
    width: 150px;
    height: 126px;
    left: 85px;
    top: 92px;
    padding-top: 12px;
}

.tabs .side-menu,
.mainContent.layout-sidebar-left .side-menu {
    &__item {
    
        color: #888888;
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px 0;
        padding-left: 1vw;
        margin-left: 0;
        margin-right: 0;
        border-top: 1px solid  $brownish-grey;
        &:first-of-type {
            border-top: 3px solid #506d85;
        }
        &:last-of-type {
            border-bottom: 3px solid #506d85;
        }
    }
}
.tabs .side-menu {
    &__item {

        &.active {
            color: $pumpkin;
            padding-left: 1vw;
            &::after { 
                content: '';
                display: inline-block;
                width: 10px;
                height: 18px;
                position: absolute;
                left: 93%;
                background: url('../../shared/media/images/nav-graphic-png.png'); 
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}



.tabs {
  
    .tab {
        display: none;
       
        &.active {
            display: block;
        }
    }

}