
//colors

$gray-dark-2: #b2b3b3;
$gray-dark-3: #cccccc;
$gray-light: #808080;
$blue-gradient: linear-gradient(to right, #314557 0%, #506d85 100%);
$gray-gradient: linear-gradient(to right, #424143 0%, #87898b 100%);



.table-header{

    .table-header-cell--blue-gradient{
        background-image:$blue-gradient;
        color:#fff;
    }

    .table-header-cell--gray-gardient{
        background-image:$gray-gradient;
        color:#fff;
    }

    .table-header-cell--orange{
        background-color:$pumpkin;
        color:#fff;
    }

    .table-header-cell--gray-1{
        background-color:$greyish-brown;
        color:#fff;
    }

    .table-header-cell--gray-2{
        background-color:$gray-dark-2;
        color:#fff;
    }

    .table-header-cell--gray-3{
        background-color:$gray-dark-3;
        color:$greyish-brown;
    }
}



.table-row{
    display:flex;
    width:100%;

    >div{
        border:1.25px solid #fff;
    }
}

.table-cell--full-width{
    width:100%;
}

.table-cell--orange{
    background-color:$pumpkin;
}
.table-cell--gray{
    background-color:$gray-light;
}

.table-cell--greyish-brown{
    background-color:$greyish-brown;
}

.table-cell--gray-2{
    background-color:$gray-dark-2;
}

.table-cell--gray-3{
    background-color:$gray-dark-3;
}

.table-row-header-cell{
    background-color:rgba($gray-light, .08);
}

.table-row--bk-light{
    .table-cell--orange{
        background-color:rgba($pumpkin, .08);
    }
    .table-cell--gray{
        background-color:rgba($gray-light, .08);
    }
}

.table-row--bk-dark{
    .table-cell--orange{
        background-color:rgba($pumpkin, .15);
    }
    .table-cell--gray{
        background-color:rgba($gray-light, .15);
    }
}

.table-main{
    width:100%;
    height:100%;
}



